* {
    box-sizing: border-box;
    color: #969696;
}

body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  padding: 0 0 0 0 !important;
}